## Configure all files to use LF line endings and automatically detect if files are text or not.
* text=auto eol=lf

## Explicitly configure some file extensions as text.
*.c text
*.h text
*.cpp text
*.hpp text
*.py text
*.ino text
*.txt text
*.java text
*.json text
*.yaml text

## Force CRLF for batch scripts.
*.bat text eol=crlf
*.cmd text eol=crlf

## Explicitly configure specific filenames as text.
LICENSE text
.gitignore text
.clang-format text
.gitattributes text

## The binary attribute is a built-in macro for "-diff -merge -text".
*.7z binary
*.zip binary
*.png binary
*.jpg binary
*.m4a binary
*.mp3 binary
*.flac binary
*.fzz binary
*.fzpz binary

## Custom diff designations.
*.md text diff=markdown
