##############
## My files ##
##############
[pP]rivate[iI]nfo.*
network[vV]ariables.*
work[nN]etwork[vV]ariables.*

############
## Python ##
############
*.py[co]
.pypirc
venv/
.venv/
__pycache__/

####################
## JetBrains IDEs ##
####################
.idea/
*.iml

##################
## Maven output ##
##################
target/

#################
## CMake files ##
#################
cmake-build-*/
debug_custom.json

#######################
## Arduino IDE files ##
#######################
esp*.svd

#########################
## Visual Studio files ##
#########################
.vscode/
c_cpp_properties.json

######################
## Windows detritus ##
######################
Thumbs.db
ehthumbs.db

########################
## Folder config file ##
########################
[Dd]esktop.ini

#####################################
## Recycle Bin used on file shares ##
#####################################
$RECYCLE.BIN/

#############
# Mac crap ##
#############
.DS_Store

##############
## Packages ##
##############
*.egg
*.egg-info
dist/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

####################
## Installer logs ##
####################
pip-log.txt
